* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#general {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000200;
  justify-content: center;
  align-items: center;
}
#general .star {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation: animate 8s ease-in-out infinite,
    background-move 16s linear infinite;
}
#general .star.star1 {
  animation-delay: 0s;
  background: url(stars/star1.png);
}
#general .star.star2 {
  animation-delay: -1s;
  background: url(stars/star2.png);
}
#general .star.star3 {
  animation-delay: -2s;
  background: url(stars/star3.png);
}
#general .star.star4 {
  animation-delay: -3s;
  background: url(stars/star4.png);
}
#general .star.star5 {
  animation-delay: -4s;
  background: url(stars/star5.png);
}
#general .star.star6 {
  animation-delay: -5s;
  background: url(stars/star6.png);
}
#general .star.star7 {
  animation-delay: -6s;
  background: url(stars/star7.png);
}
#general .star.star8 {
  animation-delay: -7s;
  background: url(stars/star8.png);
}
@keyframes animate {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 0;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 1;
  }
}
@keyframes background-move {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

.hide {
  display: none;
}
#title {
  margin-top: -40px;
  font-size: 30px;
}

h1,
h2,
h3,
p,
#container,
.glow,
#show-error {
  text-align: center;
}
#general,
#container,
#match-lucky,
#buttons {
  display: flex;
}
h1,
h2 {
  margin: 20px;
}
h3 {
  width: 173px;
  border: rgb(73, 68, 68) solid 0.1px;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  font-size: 20px;
  padding: 5px;
  margin: 0px;
}
img {
  width: 150px;
}
.sign {
  font-size: 25px;
}
body {
  background-color: black;
  height: 100%;
}
.zodiac {
  padding: 10px;
  cursor: pointer;
  width: 163px;
}
#container {
  margin: 0 auto;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  width: 70%;
  justify-content: space-between;
}
.glow {
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}
p {
  border: rgb(73, 68, 68) solid 0.1px;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  float: left;
}
#match-lucky {
  margin: 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
#horoscope-result {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  width: 500px;
  border: 0.5px solid rgb(73, 68, 68);
}
#buttons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 350%);
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}
button,
a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}
#show-error {
  margin: 0, auto;
  padding: 5px;
  font-size: 30px;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
